<style>


.search-input {
  border-radius: 25px;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
}


.btn-search {
  background-color: #fe424d;
  color: white;
  border-radius: 25px;
  padding: 0.5rem 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.95rem;
  border: none;
}

.btn-search i {
  font-size: 0.9rem;
}

.btn-search:hover {
  background-color: #e63946;
  color: white;
}


@media (max-width: 768px) {

  .navbar-nav {
    text-align: center;
  }

  .search-input {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .btn-search {
    width: 100%;
    justify-content: center;
  }

  .d-flex {
    flex-direction: column;
    width: 100%;
  }

}

</style>


<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">

    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!-- Explore -->
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <!-- Search -->
      <div class="navbar-nav ms-auto">
        <form class="d-flex" action="/listings" method="GET">
          <input
            class="form-control me-2 search-input"
            type="search"
            name="location"
            placeholder="Search destinations"
          />
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i> Search
          </button>
        </form>
      </div>

      <!-- Auth Links -->
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add New Listing</a>

        <% if(!curruser){ %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>

        <% if(curruser){ %>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>

    </div>
  </div>
</nav>
