<% layout("/layouts/boilerplate")%>
<div class="row mt-3">
    <div class="col-8 offset-2">
<h3> Create a New Listing</h3>

<form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
<div class="mb-3">
    <label for="title" class="forml-label" >Title</label>
<input name="listing[title]" placeholder="Enter Title" type="text" class="form-control" required>
<div class="invalid-feedback">
      Enter correct title
    </div>
</div>

<div class="mb-3">
    <label for="description" class="forml-label" >Description</label>
    <textarea name="listing[description]" class="form-control" required></textarea> 
    <div class="invalid-feedback">
      Please enter a short description
    </div>
</div>

<div class="mb-3">
     <label for="image" class="forml-label" >Upload Image</label>
    <input name="listing[image]"type="file" class="form-control">
</div>

<div class="row">
<div class="mb-3 col-md-4">
     <label for="price" class="forml-label" >Price</label>
    <input name="listing[price]" placeholder="Enter Price" class="form-control" required>
    <div class="invalid-feedback">
       Price should be valid
    </div>
</div>
<div class="mb-3 col-md-8">
     <label for="country" class="forml-label" >Country</label>
    <input name="listing[country]" placeholder="Enter Country" type="text" class="form-control" required>
    <div class="invalid-feedback">
       Country name should be valid
    </div>
</div>
</div>

<div class="mb-3">
     <label for="location" class="forml-label" >Location</label>
    <input name="listing[location]" placeholder="Enter Location" type="text" class="form-control" required>
    <div class="invalid-feedback">
       Location should be valid
    </div>
</div>

<div class="mb-3">
  <label for="category" class="form-label">Category</label>
  <select name="listing[category]" class="form-control" required>
    <option value="">Select Category</option>
    <option value="Trending">Trending</option>
    <option value="Rooms">Rooms</option>
    <option value="Iconic Cities">Iconic Cities</option>
    <option value="Mountains">Mountains</option>
    <option value="Castles">Castles</option>
    <option value="Amazing Pools">Amazing Pools</option>
    <option value="Farms">Farms</option>
    <option value="Camping">Camping</option>
    <option value="Arctic">Arctic</option>
  </select>
  <div class="invalid-feedback">
    Please select a category
  </div>
</div>





<button class="btn btn-dark add-btn mt-3 mb-3" >Add</button>
    </form>
</div>
</div>